// PROJECT TKI COLORS

// red
$red-primary: #FD4A56;
$red-secondary: rgba(201, 77, 77, 1);
$red-D67A7A: rgba(214, 122, 122, 1);
$red-E4A6A6: rgba(228, 166, 166, 1);
$red-FDF6F6: rgba(253, 246, 246, 1);

// yellow
$yellow-primary: rgba(255, 200, 4, 1);
$yellow-secondary: rgba(255, 244, 205, 1);

// dark
$dark-primary: #232832;
$dark-secondary: rgba(34, 34, 34, 1);
$dark-696969: rgba(105, 105, 105, 1);
$dark-8F8F8F: rgba(143, 143, 143, 1);
$dark-DADADA: rgba(218, 218, 218, 1);

// light
$light-primary: rgba(255, 255, 255, 1);
$light-secondary: rgba(244, 244, 244, 1);

// grey
$grey-primary: #374151;
$grey-secondary: #6B7280;

// green
$green-primary: rgba(27, 166, 133, 1);
$green-secondary: rgba(244, 244, 244, 1);
$green-E5FBF5: rgba(229, 251, 245, 1);

.red-primary {
  background: $red-primary !important;
}
.red-secondary {
  background: $red-secondary !important;
}
.red-D67A7A {
  background: $red-D67A7A !important;
}
.red-E4A6A6 {
  background: $red-E4A6A6 !important;
}
.red-FDF6F6 {
  background: $red-FDF6F6 !important;
}

.yellow-primary {
  background: $yellow-primary !important;
}
.yellow-secondary {
  background: $yellow-secondary !important;
}
.dark-primary {
  background: $dark-primary !important;
}
.dark-secondary {
  background: $dark-secondary !important;
}
.dark-696969 {
  background: $dark-696969 !important;
}
.dark-8F8F8F {
  background: $dark-8F8F8F !important;
}
.dark-DADADA {
  background: $dark-DADADA !important;
}
.light-primary {
  background: $light-primary !important;
}
.light-secondary {
  background: $light-secondary !important;
}
.grey-secondary {
  background: $grey-secondary !important;
}
.grey-primary {
  background: $grey-primary !important;
}
.green-primary {
  background: $green-primary !important;
}
.green-secondary {
  background: $green-secondary !important;
}
.green-E5FBF5 {
  background: $green-E5FBF5 !important;
}

.bg-red-primary {
  background: $red-primary !important;
}
.bg-red-secondary {
  background: $red-secondary !important;
}
.bg-red-D67A7A {
  background: $red-D67A7A !important;
}
.bg-red-E4A6A6 {
  background: $red-E4A6A6 !important;
}
.bg-red-FDF6F6 {
  background: $red-FDF6F6 !important;
}

.bg-yellow-primary {
  background: $yellow-primary !important;
}
.bg-yellow-secondary {
  background: $yellow-secondary !important;
}
.bg-dark-primary {
  background: $dark-primary !important;
}
.bg-dark-secondary {
  background: $dark-secondary !important;
}
.bg-dark-696969 {
  background: $dark-696969 !important;
}
.bg-dark-8F8F8F {
  background: $dark-8F8F8F !important;
}
.bg-dark-DADADA {
  background: $dark-DADADA !important;
}
.bg-light-primary {
  background: $light-primary !important;
}
.bg-light-secondary {
  background: $light-secondary !important;
}
.bg-grey-secondary {
  background: $light-secondary !important;
}
.bg-grey-primary {
  background: $grey-primary !important;
}
.bg-green-primary {
  background: $green-primary !important;
}
.bg-green-secondary {
  background: $green-secondary !important;
}
.bg-green-E5FBF5 {
  background: $green-E5FBF5 !important;
}

.text-red-primary {
  color: $red-primary !important;
}

.text-dark-primary {
  color: $dark-primary !important;
}
.text-dark-secondary {
  color: $dark-secondary !important;
}
.text-dark-696969 {
  color: $dark-696969 !important;
}
.text-light-primary {
  color: $light-primary !important;
}
.text-dark-DADADA {
  color: $dark-696969 !important;
}

.text-green-primary {
  color: $green-primary !important;
}

.text-grey-primary {
  color: $grey-primary !important;
}

.text-grey-secondary {
  color: $grey-secondary !important;
}
.text-yellow-primary {
  color: $yellow-primary !important;
}
