.font {
  &-10 {
    font-size: 10px !important;
  }
  &-12 {
    font-size: 12px !important;
  }
  &-13 {
    font-size: 13px !important;
  }
  &-14 {
    font-size: 14px !important;
  }
  &-16 {
    font-size: 16px !important;
  }
  &-18 {
    font-size: 18px !important;
  }
  &-20 {
    font-size: 20px !important;
  }
  &-22 {
    font-size: 22px !important;
  }

  &-27 {
    font-size: 27px !important;
  }

  &-32 {
    font-size: 32px !important;
  }

  &-48 {
    font-size: 48px !important;
  }


  &-85 {
    font-size: 85px !important;
  }

  &-70 {
    font-size: 70px !important;
  }
}
